@model IEnumerable<BookShop.Data.Entities.Book>

@{
    ViewData["title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-primary" asp-controller="Book" asp-action="Create">Create</a>

<table class="table">
    <tr>
        <td>ID</td>
        <td>Book Name</td>
        <td>Price</td>
        <td>Publisher</td>
        <td>Author</td>
        <td>#</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.BookName</td>
            <td>@item.Price</td>
            <td>@item.Publisher</td>
            <td>@item.Author</td>
            <td>
                <a>Edit</a> |
                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">Detail</a>
                <a>Delete</a>
            </td>
        </tr>
    }
</table>